@font-face {
  font-family: 'BelledeMai';
  font-weight: normal;
  src: url('belledemai/reg.otf')format("opentype");
}
@font-face {
  font-family: 'BelledeMai';
  font-weight: lighter;
  src: url('belledemai/thin.otf') format("opentype");
}
@font-face {
  font-family: 'BelledeMai';
  font-weight: bold;
  src: url('belledemai/heavy.otf')format("opentype");
}

.parallax::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 600px) {
  div.parallaxlayer--base {
    font-size: 5rem;
    left: 1rem;
    top: 35rem;
  }
  div.parallaxlayer--back {
    font-size: 5rem;
    left: 15rem;
    top: 55rem;
  }
  div.parallaxlayer--base2 {
    font-size: 3rem;
    left: 1rem;
    top: 100rem;
  }
  div.parallaxlayer--back2 {
    font-size: 1rem;
    left: 20rem;
    top: 120rem;
  }
  div.parallaxlayer--base3 {
    font-size: 3rem;
    left: 1rem;
    top: 100rem;
  }
  div.parallaxlayer--back3 {
    font-size: 1rem;
    left: 20rem;
    top: 120rem;
  }
}
@media only screen and (min-width: 768px) {
  div.parallaxlayer--base {
    font-size: 10rem;
    top: 28rem;
    left: 3rem;
  }
  div.parallaxlayer--back {
    font-size: 10rem;
    top: 50rem;
    left: 40rem;
  }
  div.parallaxlayer--base2 {
    font-size: 10rem;
    top: 150rem;
    left: 3rem;
  }
  div.parallaxlayer--back2 {
    font-size: 2rem;
    top: 175rem;
    left: 40rem;
  }
  div.parallaxlayer--base3 {
    font-size: 10rem;
    top: 220rem;
    left: 5rem;
  }
  div.parallaxlayer--back3 {
    font-size: 2rem;
    top: 250rem;
    left: 45rem;
  }
  div.parallaxlayer--base4 {
    font-size: 10rem;
    top: 300rem;
    left: 5rem;
  }
  div.parallaxlayer--back4 {
    font-size: 2rem;
    top: 400rem;
    left: 45rem;
  }
  div.parallaxlayer--deep {
    top: 350rem;
    height: 250vh;
  }
  div.parallaxlayer--base5 {
    font-size: 10rem;
    top: 300rem;
    left: 5rem;
  }
  div.parallaxlayer--back5 {
    font-size: 2rem;
    top: 500rem;
    left: 45rem;
  }
  div.parallaxlayer--base6 {
    font-size: 10rem;
    top: 470rem;
    left: 5rem;
  }
  div.parallaxlayer--back6 {
    font-size: 2rem;
    top: 500rem;
    left: 45rem;
  }
  div.parallaxlayer--base7 {
    font-size: 10rem;
    top: 500rem;
    left: 5rem;
  }
  div.parallaxlayer--back7 {
    font-size: 2rem;
    top: 550rem;
    left: 45rem;
  }
  div.parallaxlayer--deep2 {
    top: 720rem;
    height: 300vh;
  }
  div.parallaxlayer--base8 {
    font-size: 10rem;
    top: 670rem;
    left: 5rem;
  }
  div.parallaxlayer--back8 {
    font-size: 2rem;
    top: 720rem;
    left: 45rem;
  }
  div.parallaxlayer--base9 {
    font-size: 10rem;
    top: 830rem;
    left: 5rem;
  }
  div.parallaxlayer--back9 {
    font-size: 2rem;
    top: 990rem;
    left: 45rem;
  }
  div.parallaxlayer--base10 {
    font-size: 10rem;
    top: 950rem;
    left: 5rem;
  }
  div.parallaxlayer--back10 {
    font-size: 2rem;
    top: 1000rem;
    left: 45rem;
  }
  div.parallaxlayer--deep3 {
    top: 1150rem;
    height: 300vh;
  }
  div.parallaxlayer--base11 {
    font-size: 10rem;
    top: 1090rem;
    left: 5rem;
  }
  div.parallaxlayer--back11 {
    font-size: 2rem;
    top: 1250rem;
    left: 45rem;
  }
  div.parallaxlayer--deep4 {
    top: 1300rem;
    height: 200vh;
  }
  div.parallaxlayer--base12 {
    font-size: 10rem;
    top: 1250rem;
    left: 5rem;
  }
  div.parallaxlayer--back12 {
    font-size: 2rem;
    top: 1400rem;
    left: 45rem;
  }
  div.parallaxlayer--base13 {
    font-size: 10rem;
    top: 1300rem;
    left: 5rem;
  }
  div.parallaxlayer--back13 {
    font-size: 2rem;
    top: 1350rem;
    left: 45rem;
  }
  div.parallaxlayer--base14 {
    font-size: 10rem;
    top: 1250rem;
    left: 5rem;
  }
  div.parallaxlayer--back14 {
    font-size: 2rem;
    top: 1350rem;
    left: 45rem;
  }
  div.parallaxlayer--base15 {
    font-size: 10rem;
    top: 1300rem;
    left: 5rem;
  }
  div.parallaxlayer--back15 {
    font-size: 2rem;
    top: 1400rem;
    left: 45rem;
  }
}
body {
    font-family: 'BelledeMai';
    overflow-y: hidden;
    margin-top: 0;
    margin-right: 2rem;
}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallaxlayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallaxlayer--base {
  font-weight: bold;
  font-size: 4rem;
  top: 38rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back {
  font-weight: lighter;
  font-size: 4rem;
  top: 55rem;
  left: 7rem;
  transform: translateZ(-1px) scale(2);
}
.group1 {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallaxlayer--base2 {
  font-weight: bold;
  font-size: 3rem;
  top: 85rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back2 {
  font-weight: lighter;
  top: 110rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group2 {
  position: relative;
  height: 200vh;
  transform-style: preserve-3d;
}

.parallaxlayer--base3 {
  font-weight: bold;
  font-size: 3rem;
  top: 75rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back3 {
  font-weight: lighter;
  top: 100rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group3 {
  position: relative;
  height: 200vh;
  transform-style: preserve-3d;
}

.parallaxlayer--deep {
  background-color: black;
  top: 80rem;
  transform: translateZ(-2px) scale(3)
}
.parallaxlayer--base4 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  top: 100rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back4 {
  color: white;
  font-weight: lighter;
  font-size: 1rem;
  top: 135rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group4 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--base5 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  top: 45rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back5 {
  color: black;
  font-weight: lighter;
  font-size: 1rem;
  top: 97rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group5 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--base6 {
  font-weight: bold;
  font-size: 3rem;
  top: -20rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back6 {
  font-weight: lighter;
  font-size: 1rem;
  top: 50rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group6 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--base7 {
  font-weight: bold;
  font-size: 3rem;
  top: -80rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back7 {
  font-weight: lighter;
  font-size: 1rem;
  top: 15rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group7 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--deep2 {
  background-color: black;
  top: -10rem;
  transform: translateZ(-2px) scale(3)
}
.parallaxlayer--base8 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  top: -25rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back8 {
  color: white;
  font-weight: lighter;
  font-size: 1rem;
  top: 30rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group8 {
  position: relative;
  height: 125vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--base9 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  top: 45rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back9 {
  color: black;
  font-weight: lighter;
  font-size: 1rem;
  top: 98rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group9 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--base10 {
  font-weight: bold;
  font-size: 3rem;
  top: -15rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back10 {
  font-weight: lighter;
  font-size: 1rem;
  top: 55rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group10 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--deep3 {
  background-color: black;
  top: 30rem;
  transform: translateZ(-2px) scale(3)
}
.parallaxlayer--base11 {
  top: 10rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back11 {
  top: 100rem;
  left: .5rem;
  transform: translateZ(-1px) scale(2);
}
.group11 {
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  height: 250vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--deep4 {
  background-color: white;
  top: 110rem;
  transform: translateZ(-2px) scale(3)
}
.parallaxlayer--base12 {
  top: 130rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back12 {
  top: 160rem;
  left: .5rem;
  transform: translateZ(-1px) scale(2);
}
.group12 {
  font-weight: lighter;
  font-size: 3rem;
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--base13 {
  font-weight: bold;
  font-size: 3rem;
  top: 100rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back13 {
  font-weight: lighter;
  font-size: 1rem;
  top: 130rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group13 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}

.parallaxlayer--base14 {
  font-weight: bold;
  font-size: 3rem;
  top: -5rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back14 {
  font-weight: lighter;
  font-size: 1rem;
  top: 70rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group14 {
  position: relative;
  height: 300vh;
  top: 80rem;
  transform-style: preserve-3d;
}
.parallaxlayer--base15 {
  font-weight: bold;
  font-size: 3rem;
  top: -80rem;
  left: .5rem;
  transform: translateZ(0);
}
.parallaxlayer--back15 {
  font-weight: lighter;
  font-size: 1rem;
  top: -20rem;
  left: 5rem;
  transform: translateZ(-1px) scale(2);
}
.group15 {
  position: relative;
  height: 100vh;
  top: 80rem;
  transform-style: preserve-3d;
}
